body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display{
    height: 3.5rem;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #383838;
    color: #fff;
    text-align: right;
    border-radius: 9px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn{
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.btn:hover{
    background-color: #c2c2c2;
}
.equal{
    grid-column: span 4;
    background-color: #4caf50;
    color: #fff;
}
